<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    </head>
    <body class="min-h-screen bg-slate-100 flex items-center justify-center flex-col max-w-screen-2xl m-auto">
        {% include 'layout/header.html.twig' %}
        <main class="container bg-white">{% block content %}{% endblock %}</main>
        {% include 'layout/footer.html.twig' %}
    </body>
</html>