<!DOCTYPE html>
<html lang="lv">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" crossorigin href="{{ asset('styles/app.css') }}">
    {% block meta %}{% endblock %}
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mērķu Meistars">
</head>
<body class="min-h-screen bg-slate-100 flex items-center justify-center flex-col max-w-screen-2xl m-auto">
{% include 'layout/header.html.twig' %}
<main class="container bg-white">
    {% for message in app.flashes('success') %}
        <div class="p-4 mb-4 rounded-md text-sm font-medium shadow-md bg-green-100 text-green-800">
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>
{% include 'layout/footer.html.twig' %}
</body>
</html>