<footer class="container text-sm bg-white">
    <div class="p-4 flex justify-between gap-4">
        <div>© {{ "now"|date('Y') }} VideoPlatforma</div>
    </div>
    <div class="bg-black text-white flex justify-between border-slate-200 text-[10px] px-2 py-1">
        <div>
            Made with ❤️ by
            <a
                    class="text-orange-300 hover:underline"
                    href="https://github.com/Amixx"
                    target="_blank"
            >https://github.com/Amixx</a>
        </div>
    </div>
</footer>